@import './reset.css';
@import './sharingbuttons.css';
@import './utils.css';

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/oswald-v53-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --blue: #318BBF;
  --blue25: color-mix(in srgb, var(--purple), transparent 75%);
  --purple: #110D40;
  --purple-50: color-mix(in srgb, var(--purple), transparent 50%);
	--light: #EBEEF3;
	--white: #fff;
	--black: #000;
	--font-sans: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	/* --font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; */
	--font-mono: monospace, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
  --border-radius: .25rem;
  --text: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

html {
  font-family: var(--font-sans);
  /* scroll-padding-top: 1rem; */
}

body {
	background: var(--white);
	color: var(--text);
  display: flex;
  flex-direction: column;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue);
  font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: clamp(1rem, 10vw, 2.5rem);
}

h2, .h2 {
  font-size: clamp(1rem, 10vw, 2.25rem);
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 1rem;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

b,
p b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

a,
button {
  transition: all .35s ease-in-out;
}

a {
  color: var(--text);
  text-decoration: underline;
  transition-property: color, text-decoration;

  &:not(:is(.btn, .resp-sharing-button__link)):is(:focus, :hover) {
    color: var(--blue);
  }
}

a[href^="https://"].ext {
  display: inline-block;

  &:not(:has(img))::after {
    --size: .875em;

    display: inline-block;
    content: "";
    color: var(--text);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
  }
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

header,
main,
footer {
  width: 100%;
  margin: 0 auto;
}

.container,
.container-md,
.container-sm {
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    max-width: 768px;
  }
}

/*
  incosistency with rules above/below due to an issue that could
  happen based on how postCss would combine rules
*/
@media screen and (min-width: 1200px) {
  .container,
  .container-md {
    max-width: 1024px;
  }
}

.container {
  @media screen and (min-width: 1440px) {
    max-width: 1200px;
  }
}

header {
  background: var(--purple);
  color: var(--light);

  & .header-logo {
    padding: 2rem;
  }
}

header nav {
  background: var(--light);
  padding: .5rem 1rem;

  & .menu {
    & summary {
      background-color: transparent;
      /* border-radius: var(--border-radius); */
      color: var(--purple);
      gap: .5rem;
      list-style: none;
      padding: .25rem .75rem;
      position: relative;
      transition: background-color .35s ease-in-out;
      user-select: none;
      width: min-content;

      & .icon {
        transition: transform .2s ease;
      }
    }

    & summary::-webkit-details-marker {
      display: none;
    }

    .nav-link {
      color: var(--blue);
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 2px;

      &:hover {
        color: var(--purple);
        text-decoration: underline;
        text-decoration-color: var(--purple-50);
        text-decoration-thickness: 2px;
      }
    }
  }

  & .menu[open] {
    & summary .icon {
      transform: rotate(-90deg);
    }

    & .menu__inner {
      animation: fadeIn .75s linear forwards;
    }
  }

  & .menu:not([open]) {
    & .menu__inner {
      animation: fadeOut .75s linear forwards;
    }
  }
}

main {
  flex-grow: 1;
}

footer {
  background: rgba(5, 5, 5, .75);
  color: var(--light);
  padding: 3rem 2rem 0rem;
}

footer a,
footer a:active {
  text-decoration: none;
}

/* SECTIONS / COMPONENTS */

.btn,
.btn:active {
  color: var(--light);
  background: var(--blue);
  /* border-radius: var(--border-radius); */
  border: 0px solid transparent;
  display: inline-block;
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1.5rem;
  text-decoration: none;
  transition-property: background-color, color;

  &:is(:focus, :hover) {
    background: var(--purple);
  }
}

.btn--light,
.btn--light:active {
  background: var(--light);
  color: var(--blue);

  &:is(:focus, :hover) {
    background: var(--blue);
    color: var(--light);
  }
}

.btn--outline,
.btn--outline:active {
  background: transparent;
  border-color: var(--blue);
  border-width: 1px;
  color: var(--blue);

  &:is(:focus, :hover) {
    background: var(--blue);
    color: var(--light);
  }
}

.btn--purple,
.btn--purple:active {
  background: var(--purple);
  color: var(--light);

  &:is(:focus, :hover) {
    background: var(--blue);
    color: var(--light);
  }
}

.btn--sm,
.btn--sm:active {
  font-size: .75rem;
  padding: .25rem .75rem;
}

.btn-btt,
.btn-btt a {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.btn-btt {
  bottom: 3rem;
  background-color: var(--blue);
  color: var(--light);
  line-height: 1;
  opacity: 0;
  position: fixed;
  right: 0;
  transition: opacity .35s ease;
  z-index: 20;

  &.shown {
    opacity: 1;
  }

  & .icon-dots {
    display: none;
  }

  & a,
  & a:active {
    color: var(--light);
    max-width: 100%;
    padding: 1rem;
    width: auto;
  }

  @media screen and (min-width: 576px) {
    bottom: 5rem;

    & .icon-dots,
    & a {
      display: block;
      transition: all .35s ease-in-out;
      transition: opacity .25s ease;
      transition-property: max-width, opacity, padding, width;
    }

    & .icon-dots {
      color: var(--light);
      opacity: 1;
      padding: 1rem .5rem;
      transform: rotate(90deg);
    }

    & a {
      color: var(--light);
      max-width: 0;
      opacity: 0;
      overflow: hidden;
      padding: 1rem 0;
      width: 0;
    }

    &:hover {
      & .icon-dots {
        color: var(--blue);
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        padding: 1rem 0;
        width: 0;
      }

      & a {
        color: var(--light);
        max-width: 100%;
        opacity: 1;
        padding: 1rem 2rem;
        width: auto;
      }
    }
  }
}

.feedback__chart {
  height: 200px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 576px) {
    height: 350px;
  }
}

.feedback__list {
  max-height: 350px;
  overflow-y: auto;
}

.feedback__item {
  background-color: var(--white);
  border: 1px solid var(--purple-50);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 576px) {
    margin-right: .75rem;
  }
}

.section-heading {
  margin-bottom: 2rem;

  @media screen and (min-width: 576px) {
    margin-bottom: 0;
    /* border-bottom: 3px solid transparent; */
  }
}

.section-args,
.section-chart,
.section-quotes,
.section-share {
  background: linear-gradient(to bottom, var(--white) 50%, var(--light) 50%);
}

#expand-args {
  @media screen and (max-width: 576px) {
    margin-top: 1rem;
  }
}

.section-args__image,
.section-share__image {
  margin-bottom: -3rem;

  @media screen and (min-width: 576px) {
    margin-bottom: 0;
  }
}

.section-args__item {
  background-color: var(--white);
  border-radius: var(--border-radius);

  & summary {
    align-items: flex-start;
    background-color: var(--purple);
    /* border: 1px solid var(--purple-50); */
    border-radius: var(--border-radius);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 2rem;
    transition: opacity .35s ease-in-out;

    & h3 {
      color: var(--light);
      flex-shrink: 1;
      line-height: 1.25;
    }
  }

  & summary::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23EBEEF3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E");
    background-size: cover;
    flex-shrink: 0;
    height: 24px;
    transition: .2s;
    width: 24px;
  }

  & .inner {
    animation: fadeIn .75s linear forwards;
  }

  &[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
      transform: rotate(180deg);
    }
  }

  &:not([open]) .inner {
    animation: fadeOut .75s linear forwards;
  }
}

.section-args__list,
.section-quotes__list {
  & li:not(:last-child) {
    margin-bottom: var(--mb, 2rem);
  }
}

.section-quotes__list {
  --mb: 3rem;
}

.section-chart__heading,
.section-quotes__heading {
  order: 2;

  @media screen and (min-width: 576px) {
    order: 1;
  }
}

.section-chart__image,
.section-quotes__image {
  order: 1;

  @media screen and (min-width: 576px) {
    order: 2;
  }
}

.section-chart__image {
  margin-bottom: -4rem;
}

.section-quotes__image {
  margin-bottom: -3rem;

  @media screen and (min-width: 576px) {
    margin-bottom: 2.5rem;
  }
}

.section-quotes__item {
  background-color: var(--white);
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  padding: 2rem 2.5rem;

  @media screen and (min-width: 576px) {
    padding: 4rem 5rem;
  }
}

.social-icon {
  background-color: var(--blue);
  border-radius: 99999px;
  padding: .5rem;
  transition-property: background-color;
}

summary {
  transition: transform .125s ease;

  &:hover {
    cursor: pointer;
  }
}

.btn:active,
summary:active {
  transform: translateY(2px);
  transition: transform .125s ease;
}

.swiper {
  --swiper-navigation-sides-offset: 1rem;
  --swiper-navigation-size: 2rem;
  --swiper-theme-color: var(--purple-50);
}

.swiper-slide {
  & .feedback-slide {
    --h-spacing: 1rem;

    background: var(--light);
    padding: 3rem 4rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 1024px) {
      --h-spacing: 3rem;
    }

    &::before,
    &::after {
      color: var(--blue);
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 125px;
      font-weight: bold;
      line-height: 125px;
      position: absolute;
    }

    &::before {
      content: open-quote;
      left: var(--h-spacing);
      top: .5rem;
    }

    &::after {
      bottom: -3rem;
      content: close-quote;
      right: var(--h-spacing);
    }
  }
}

.timeline {
  display: grid;
  grid-template-columns: 1fr;

  & .timeline__marker h3 {
    text-align: center;
  }

  @media screen and (min-width: 576px) {
    grid-template-columns: 150px 1fr;

    & .timeline__marker {
      border-right: 2px solid var(--blue);

      & h3 {
        /* border-bottom: 2px solid var(--blue); */
        padding-right: 2rem;
        text-align: right;
      }
    }
  }

  & .timeline__year {
    border-top: 1px solid var(--blue);
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    & ul {
      & li h4 {
        color: var(--purple);
      }

      & li:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  & .timeline__month {
    background-color: var(--light);
    border-bottom-right-radius: 1rem;
    padding: 1.5rem 2rem;
  }
}

.timeline-icon {
  padding-top: 1rem;
  position: relative;

  & img {
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: 576px) {
    padding-top: 0;

    & img {
      left: -70%;
      position: absolute;
      right: 0;
      top: -4.3rem;
    }
  }

  @media screen and (min-width: 1200px) {
    & img {
      left: -50%;
    }
  }
}

.video {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  & iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.video-wrapper {
  border-radius: var(--border-radius);
  max-height: 250px;
  transform: scale(1.0);
  transition: all ease 0.5s;

  &:hover {
    transform: scale(0.95);
  }
}

.video-thumbnail {
  border-radius: var(--border-radius);
  height: 250px;
  max-height: 250px;
  object-fit: cover;
  width: 100%;

  @media screen and (min-width: 576px) {
    object-fit: initial;
    width: auto;
  }
}

.video-wrapper,
.video-thumbnail {
  @media screen and (min-width: 576px) {
    --dsktp-height: 450px;

    height: var(--dsktp-height);
    max-height: var(--dsktp-height);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  header nav .menu summary {
    &:is(:hover) {
      background-color: var(--white);
    }
  }

  footer a:not(.btn, .social-icon) {
    &:is(:focus, :hover) {
      text-decoration: underline;
    }
  }

  .section-args__item:not([open]) summary {
    &:is(:focus, :hover) {
      opacity: .75;
    }
  }

  .social-icon {
    &:is(:focus, :hover) {
      background-color: var(--light);
    }
  }
}

/* FIXES */

@supports (-webkit-touch-callout: none) {
  summary {
    list-style: none !important;
  }

  summary::marker,
  summary::-webkit-details-marker,
  summary ::marker,
  summary ::-webkit-details-marker {
    display: none !important;
  }
}

/* safari fixes */
@supports (-webkit-touch-callout: none) {
  /* disable input:focus zooming that happens for font sizes <16px */
  input,
  textarea {
    font-size: 16px !important;
  }
}
