@import './reset.css';
@import './sharingbuttons.css';
@import './utils.css';

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/oswald-v53-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --blue: #318BBF;
  --blue25: color-mix(in srgb, var(--purple), transparent 75%);
  --purple: #110D40;
  --purple-50: color-mix(in srgb, var(--purple), transparent 50%);
	--light: #EBEEF3;
	--white: #fff;
	--black: #000;
	--font-sans: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	/* --font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; */
	--font-mono: monospace, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
  --border-radius: .25rem;
  --text: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

html {
  font-family: var(--font-sans);
  /* scroll-padding-top: 1rem; */
}

body {
	background: var(--white);
	color: var(--text);
  display: flex;
  flex-direction: column;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue);
  font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: clamp(1rem, 10vw, 2.5rem);
}

h2, .h2 {
  font-size: clamp(1rem, 10vw, 2.25rem);
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

b,
p b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

a {
  color: var(--text);
  text-decoration: underline;
  transition: all .35s ease-in-out;
  transition-property: color, text-decoration;

  &:not(:is(.btn, .resp-sharing-button__link)):is(:focus, :hover) {
    color: var(--blue);
  }
}

a[href^="https://"].ext {
  display: inline-block;

  &:not(:has(img))::after {
    --size: .875em;

    display: inline-block;
    content: "";
    color: var(--text);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
  }
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

header,
main,
footer {
  width: 100%;
  margin: 0 auto;
}

.container,
.container-args,
.container-swiper {
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .container-swiper {
    max-width: 1024px;
  }
}

.container {
  @media screen and (min-width: 1440px) {
    max-width: 1200px;
  }
}

header {
  background: var(--purple);
  color: var(--light);

  & .header-logo {
    padding: 2rem;
  }
}

header nav {
  /* background: #D3D4DD; */
  background: var(--light);
  padding: .5rem 1rem;

  & .menu {
    & summary {
      background-color: transparent;
      /* border-radius: var(--border-radius); */
      color: var(--purple);
      gap: .5rem;
      list-style: none;
      padding: .25rem .75rem;
      position: relative;
      transition: background-color .35s ease-in-out;
      user-select: none;
      width: min-content;

      & .icon {
        transition: transform .25s ease;
      }

      &:is(:hover) {
        background-color: var(--white);
      }
    }

    & summary::-webkit-details-marker {
      display: none;
    }

    .nav-link {
      color: var(--blue);
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 2px;
      /* text-transform: uppercase; */

      &:hover {
        color: var(--purple);
        text-decoration: underline;
        text-decoration-color: var(--purple-50);
        text-decoration-thickness: 2px;
      }
    }
  }

  & .menu[open] {
    & summary .icon {
      transform: rotate(-90deg);
    }

    & .menu__inner {
      animation: fadeIn .75s linear forwards;
    }
  }

  & .menu:not([open]) {
    & .menu__inner {
      animation: fadeOut .75s linear forwards;
    }
  }
}

main {
  flex-grow: 1;
}

footer {
  background: rgba(5, 5, 5, .75);
  color: var(--light);
  padding: 3rem 2rem 0rem;
}

footer a,
footer a:active {
  text-decoration: none;
}

/* SECTIONS / COMPONENTS */

.btn,
.btn:active {
  color: var(--light);
  background: var(--blue);
  /* border-radius: var(--border-radius); */
  display: inline-block;
  font-weight: bold;
  padding: .5rem 1.5rem;
  text-decoration: none;
  transition-property: background-color, color;

  &:is(:focus, :hover) {
    background: var(--purple);
  }
}

.btn--light,
.btn--light:active {
  background: var(--light);
  color: var(--blue);

  &:is(:focus, :hover) {
    background: var(--blue);
    color: var(--light);
  }
}

.feedback__list {
  max-height: 350px;
  overflow-y: auto;

  & li:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 576px) {
    margin-right: .5rem;
  }
}

.feedback__item {
  background-color: var(--white);
  border: 1px solid var(--purple-50);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
}

.section-heading {
  margin-bottom: 2rem;

  @media screen and (min-width: 576px) {
    margin-bottom: 0;
    /* border-bottom: 3px solid transparent; */
  }
}

.section-args {
  /* background: linear-gradient(to bottom, var(--white) 50%, var(--purple) 50%); */

  & .section-heading {
    /* color: var(--light); */
    margin-bottom: 0;

    /* @media screen and (min-width: 576px) {
      color: var(--blue);
    } */
  }
}

.section-args__list {
  & li:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.section-args__item {
  background-color: var(--white);
  border: 1px solid var(--purple-50);
  border-radius: var(--border-radius);

  &:is(:focus, :hover) {
    & summary {
      & h3 {
        color: var(--blue);
      }
    }
  }

  & summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h3 {
      color: var(--purple);
      transition: color .35s ease-in-out;
    }
  }

  & summary::after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23110D40' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E");
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
  }

  &[open] > summary::after {
    transform: rotate(180deg);
  }
}

.section-args,
.section-chart,
.section-share {
  background: linear-gradient(to bottom, var(--white) 50%, var(--light) 50%);
}

.section-chart__heading {
  order: 2;

  @media screen and (min-width: 576px) {
    order: 1;
  }
}

.section-chart__image {
  margin-bottom: -4rem;
  order: 1;

  @media screen and (min-width: 576px) {
    order: 2;
  }
}

.section-args__image,
.section-share__image {
  margin-bottom: -3rem;

  @media screen and (min-width: 576px) {
    margin-bottom: 0;
  }
}

summary {
  transition: transform .125s ease;

  &:hover {
    cursor: pointer;
  }
}

.btn:active,
summary:active {
  transform: translateY(2px);
  transition: transform .125s ease;
}

.swiper {
  --swiper-navigation-sides-offset: 1rem;
  --swiper-navigation-size: 2rem;
  --swiper-theme-color: var(--purple-50);
}

.swiper-slide {
  & .feedback-slide {
    --h-spacing: 1rem;

    background: var(--light);
    padding: 3rem 4rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 1024px) {
      --h-spacing: 3rem;
    }

    &::before,
    &::after {
      color: var(--blue);
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 125px;
      font-weight: bold;
      line-height: 125px;
      position: absolute;
    }

    &::before {
      content: open-quote;
      left: var(--h-spacing);
      top: .5rem;
    }

    &::after {
      bottom: -3rem;
      content: close-quote;
      right: var(--h-spacing);
    }
  }
}

.video-wrapper {
  border-radius: var(--border-radius);
  transform: scale(1.0);
  transition: all ease 0.5s;

  &:hover {
    transform: scale(0.95);
  }
}

.video-thumbnail {
  border-radius: var(--border-radius);

  &:hover {
    cursor: pointer;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* FIXES */

@supports (-webkit-touch-callout: none) {
  summary {
    list-style: none !important;
  }

  summary::marker,
  summary::-webkit-details-marker,
  summary ::marker,
  summary ::-webkit-details-marker {
    display: none !important;
  }
}

/* safari fixes */
@supports (-webkit-touch-callout: none) {
  /* disable input:focus zooming that happens for font sizes <16px */
  input,
  textarea {
    font-size: 16px !important;
  }
}
