<div class="flex justify-content-center px1m mt4" style="z-index: 10;">
  <img class="drop-shadow" src="/img/bt_trojan_horse.svg" width="300" alt="bundestrojaner illustration" style="margin-bottom: -3rem;">
</div>
<footer class="bg-purple pt4">
  <ul class="flex gap1 gap2-md align-items-center justify-content-center flex-wrap mt1">
    {% for item in site.footerButtons %}
      <li>
        <a class="btn btn--outline" href="{{ item.url }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
  <p class="text-center text-sm my2">
    bundestrojaner.at &mdash; Eine Kampagne von <a class="ext text-light" href="https://epicenter.works">epicenter.works</a>
    <br>
    <a class="ext text-light" href="https://epicenter.works/datenschutz">Datenschutz</a>&nbsp;|&nbsp;<a class="ext text-light" href="https://epicenter.works/kontakt">Impressum</a>
    <br>
    Lizenz: <a class="ext text-light" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
  </p>
  <ul class="flex align-items-center justify-content-center flex-wrap gap1 mb2 mx-auto" style="max-width: 70%;">
    {% for item in site.footerSocial %}
      <li class="block">
        <a class="social-icon block" href="{{ item.url }}" target="_blank" title="{{ item.icon }}">
          <img class="block" src="/img/icons/{{ item.icon }}.svg" width="24" alt="{{ item.icon }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</footer>
<p class="text-light text-xs text-center font-mono m0" style="background-color: var(--black); padding: .5rem 1rem;">
  Design: <a class="ext text-light" href="https://sahar.design">Sahar Heumesser</a>&nbsp;|&nbsp;Code: <a class="ext text-light" href="https://ttntm.me">ttntm</a>
</p>
