<header>
  <div class="header-logo">
    <div class="header-logo__inner flex gap2 mobile-column align-items-center justify-content-center mx-auto">
      <a class="block decoration-none" href="/">
        <img class="block" src="/img/bt_icon.svg" width="125" alt="bundestrojaner icon">
      </a>
      <a class="block decoration-none" href="/">
        <h1 class="text-light uppercase m0">
          {% if isFront %}
            {{ title }}
          {% else %}
            {{ site.title }}
          {% endif %}
        </h1>
      </a>
    </div>
  </div>
  {% if isFront %}
    <nav>
      <details class="menu">
        <summary class="flex align-items-center mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 6l16 0"/>
            <path d="M4 12l16 0"/>
            <path d="M4 18l16 0"/>
          </svg>
          <span class="bold">Navigation</span>
        </summary>
        <div class="menu__inner p1">
          <ul class="flex gap2 mobile-column align-items-center justify-content-center">
            {% for item in site.menu %}
              <li>
                <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    </nav>
  {% endif %}
</header>
