<section id="argumente" class="section-args">
  <div class="container flex align-items-center justify-content-center gap4 mobile-column mx-auto">
    <div class="section-args__image">
      <img class="drop-shadow" src="/img/arguments.svg" alt="arguments illustration" width="200">
    </div>
    <div class="">
      <h2 class="section-heading uppercase mb0">Argumente</h2>
    </div>
  </div>
</section>
<section class="bg-light mb4">
  <div class="container-args pt2 pb4 px1m">
    <ul class="section-args__list">
      {% for item in collections.arguments %}
        <li>
          <details class="section-args__item shadow px2 py1">
            <summary class="bold text-blue">
              <h3 class="text-lg font-sans m0">
                {{ item.data.title }}
              </h3>
            </summary>
            <div class="mt1 mb0">
              {{ item.templateContent | safe }}
            </div>
          </details>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
