<section class="container py2 mx-auto">
  <h2 class="text-center">
    Diagramm
  </h2>
  <div class="grid grid2 gap2">
    <div id="chart" style="height: 300px"></div>
    <div>
      <p>Text neben diagramm</p>
    </div>
  </div>
  <style>
    .ct-series-b .ct-slice-pie {
      fill: #50C878 !important;
    }

    .ct-label {
      fill: #000000 !important;
    }
  </style>
</section>
