<section id="donate" class="section-donate">
  <div class="container flex flex-column align-items-center justify-content-center gap4">
    <div class="section-donate__image mx-auto" style="margin-bottom: -0rem;">
      <img class="block drop-shadow mx-auto" src="/img/donate.svg" alt="donate illustration" width="200">
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container-sm text-center pt2 pb4 px1m">
    <h2 class="uppercase text-center text-purple">
      Deine Unterstützung zählt!
    </h2>
    <p class="text-lg text-purple mb2">
      Dein Beitrag hilft uns, den gemeinsamen Widerstand gegen den Bundestrojaner langfristig aufrechtzuerhalten, juristische Schritte zu gehen, Aufklärungsarbeit zu leisten und politische Entscheidungsträger:innen zu sensibilisieren.<br>Jeder Euro zählt!
    </p>
    <a class="btn" href="https://spenden.epicenter.works">Jetzt Spenden</a>
  </div>
</section>
