<section id="petition" class="mb2">
  <div class="bg-purple px1m py4">
    <h2 class="uppercase text-center text-light mb2">
      Deine Stimme gegen Massengefährdung
    </h2>
    <div class="container-sm bg-white shadow-inner px3 py2 mx-auto">
      <p class="mb0">
        Die Überwachung von verschlüsselter Kommunikation mit staatlicher Spionagesoftware gefährdet uns alle &ndash; Journalist:innen, Jurist:innen, Unternehmen, Privatpersonen & sogar Politiker:innen selbst.<br><br>
        Du bist gegen die Investition von Steuergeld in die Unsicherheit unserer Smartphones & die Ausweitung von staatlicher Überwachung mit invasiver Spionagesoftware?<br><br>
        <b>Werde jetzt aktiv und unterzeichne unsere Petition &mdash; für unsere Grundrechte!</b>
      </p>
    </div>
  </div>
  <div class="container-md px1m py2">
    <div class="mb2">
      <h3>Fortschritt</h3>
      <iframe id="campaign1-count" class="w100"></iframe>
    </div>
    <div class="grid grid2 gap2">
      <div>
        <h3>Unterstützen</h3>
        <iframe id="campaign1-form" class="w100"></iframe>
      </div>
      <div class="mobile-hidden">
        <h3>Letzte Unterschriften</h3>
        <iframe id="campaign1-signatures" class="w100"></iframe>
      </div>
    </div>
  </div>
</section>
