<section id="petition" class="mb2">
  <div class="bg-purple text-center text-white px1m py4">
    <h2 class="uppercase text-light">
      Du möchtest uns unterstützen?
    </h2>
    <p class="text-lg m0">
      Hier kannst Du direkt aktiv werden und unsere Petition unterzeichnen!
    </p>
  </div>
  <div class="container-md px1m py2">
    <div class="mb2">
      <h3>Fortschritt</h3>
      <iframe id="campaign1-count" class="w100"></iframe>
    </div>
    <div class="grid grid2 gap2">
      <div>
        <h3>Unterstützen</h3>
        <iframe id="campaign1-form" class="w100"></iframe>
      </div>
      <div>
        <h3>Letzte Unterschriften</h3>
        <iframe id="campaign1-signatures" class="w100"></iframe>
      </div>
    </div>
  </div>
</section>
