<section id="zitate" class="section-quotes">
  <div class="container flex align-items-center justify-content-center gap4 mobile-column mx-auto">
    <div class="section-quotes__heading">
      <h2 class="section-heading uppercase">
        Zitate aus der Politik
      </h2>
    </div>
    <div class="section-quotes__image">
      <img class="drop-shadow" src="/img/quotes.svg" alt="quotes illustration" width="200">
    </div>
  </div>
</section>
<section class="bg-light mb4">
  <div class="container pt2 pb4 px1m">
    <ul class="section-quotes__list">
      {% for item in collections.quotes %}
        <li class="section-quotes__item">
          <div class="flex align-items-center gap2">
            <img src="/img/logos/{{ item.data.logo }}" width="100" alt="{{ item.data.author }} logo">
            <h3 class="m0">
              {{ item.data.author }}
            </h3>
          </div>
          <div class="mt2">
            {{ item.templateContent | safe }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
