<section class="">
  <div class="flex flex-column bg-light align-items-center text-white px1m py4">
    <img id="history" class="drop-shadow" src="/img/bt_icon.svg" width="125" alt="bundestrojaner illustration" style="margin-top: -8rem;" eleventy:ignore>
    <h2 class="uppercase text-center text-purple mt1 mb0">
      Was bisher geschah...
    </h2>
  </div>
  <div class="timeline-icon">
    <img class="drop-shadow" src="/img/history.svg" width="200" alt="history illustration" eleventy:ignore>
  </div>
  <div class="container-sm py2">
    <div class="timeline">
      {% for item in history %}
        <div class="timeline__marker">
          <h3 class="m0" style="line-height: 1;">
            {{ item.year }}
          </h3>
        </div>
        <div class="timeline__year">
          <ul>
            {% for record in item.entries %}
              <li class="timeline__month">
                <h4>
                  {{ record.month }}
                </h4>
                <p>
                  {{ record.content }}
                </p>
                <h5 class="mt1">Quellen</h5>
                <ul class="timeline__sources text-sm">
                  {% for q in record.sources %}
                    <li>
                      <a class="ext" href="{{ q.url }}">{{ q.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
