<div id="videos" class="bg-light flex justify-content-center px1m">
  <img src="/img/bt_illustration_big.svg" width="500" alt="bundestrojaner illustration" style="margin-bottom: -6.25rem;">
</div>
<section class="bg-purple">
  <div class="container-sm pb4 px1m" style="padding-top: 6.25rem;">
    {# <h2 class="text-light uppercase text-center mb2">
      Videos
    </h2> #}
    <!-- Slider main container -->
    <div class="swiper swiper-videos mt4">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in site.videos %}
          <div class="swiper-slide">
            <div class="video-wrapper block">
              <div class="video">
                <iframe class="video__iframe" src="{{ item.url }}" title="{{ item.title }}" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" loading="lazy" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Swiper navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
