<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body id="top">
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    {% if isFront %}
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="https://campaign.epicenter.works/js/iframeResizer.parent.umd.js"></script>
      <script src="/js/chartist.umd.min.js"></script>
      {% set js %}
        {% include "js/useSwiper.js" %}
        {% include "js/usePetition.js" %}
        {% include "js/useChart.js" %}
      {% endset %}
      <script>
        {{ js | jsmin | safe }}
      </script>
    {% endif %}
    {% set jscommon %}
      {% include "js/ui.js" %}
    {% endset %}
    <script>
      {{ jscommon | jsmin | safe }}
    </script>
  </body>
</html>