---
title: bundestrojaner.at - Eine Kampagne von epicenter.works
isFront: true
layout: base.njk
---
{% include "sections/feedback.njk" %}
{% include "sections/petition.njk" %}
{% include "sections/share.njk" %}
{% include "sections/chart.njk" %}
{% include "sections/videos.njk" %}
{% include "sections/arguments.njk" %}
{% include "sections/quotes.njk" %}
{% include "sections/timeline.njk" %}
{% include "btt.njk" %}
