---
title: Grundrechte schützen - Bundestrojaner stoppen!
isFront: true
layout: base.njk
image: /img/bundestrojaner.at_social_share.jpg
---
{% include "sections/feedback.njk" %}
{% include "sections/petition.njk" %}
{% include "sections/share.njk" %}
{% include "sections/chart.njk" %}
{% include "sections/videos.njk" %}
{% include "sections/donate.njk" %}
{% include "sections/arguments.njk" %}
{% include "sections/quotes.njk" %}
{% include "sections/timeline.njk" %}
{% include "btt.njk" %}
